.dash-header {
    background-color: #212124;
}

.area-parametros-alerta {
    width: 70%;
    margin: 10px auto 0;
    background-color: #212124;
    display: flex;
    flex-direction: column;
}

.area-parametros-alerta .titulo-legenda {
    width: fit-content;
    margin: 10px 20px;
    color: #fff;
    font-weight: 600;
}

.parametros-alerta {
    width: 100%;
    display: flex;
}

.item-regua {
    width: 20%;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.item-regua p {
    margin: 0;
    font-weight: 500;
}

.item-regua p:nth-child(2) {
    font-weight: 800;
}

.perigo-frio {
    background-color: #5c6bc0;
}

.perigo-quente {
    background-color: #ff7043;
}

.alerta-frio {
    background-color: #42a5f5;
}

.alerta-quente {
    background-color: #ffee58;
}

.ideal {
    background-color: #9ccc65;
}

.cards {
    width: 100%;
    height: 450px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-aquario {
    width: fit-content;
    min-width: 40%;
    max-width: 50%;
    height: 180px;
    margin: 2%;
    background-color: #212124;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-aquario h1 {
    width: fit-content;
}

.card-aquario p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
}

.desc-aquario {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc-aquario .cor-alerta {
    width: 30px;
}

.title-aquario {
    width: 100%;
}

.cards h1 {
    margin: 20px;
    border-bottom: 1px solid #fff;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
}

.temperatura {
    width: 75%;
    margin: 5px 5px 5px 20px;
}

.cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50%;
    display: inline-block;
}
